# Special Characters
snippet app "≈" w
≈
endsnippet

# Styles
snippet b "(bold)" w
**$1**
endsnippet

# tooltip will show a message when mouse is hovered over.
snippet tp "<span>" w
<span uk-tooltip="title: $2">$1</span>
endsnippet

# This will create a markdown link that will open in a new tab.
snippet a "<a>" w
[$1]($2){target="&#95;blank"}
endsnippet
